# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/configs/dbConfig.php
db.sql

PopulateEventBookingDataScript/All 2025 KG Event Bookings.csv
PopulateEventBookingDataScript/All 2025 KG Event Bookings.xlsx
PopulateEventBookingDataScript/All 2026 KG Event Bookings.xlsx
PopulateEventBookingDataScript/All 2026 KG Event Bookings.csv
PopulateEventBookingDataScript/.venv
PopulateEventBookingDataScript/main.py

tmp.md
tmp.sql

configs
bot/shared/sql
bot/whatsapp/review.md

*jks


files_uploaded_from_harvestschools_webapp

assets-cache

configs/.env.pass

tmp

.env.local
.env.*.local

docs

