.dashboard-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dashboard-page:lang(ar) {
    direction: ltr;
    font-family: var(--english-normal-font);
}

.dashboard-page button:lang(ar) {
    font-family: var(--english-normal-font-bold);
    letter-spacing: 0.3rem !important;
}

.dashboard-page p:lang(ar) {
    font-family: var(--english-normal-font);
}

.job-applications-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.job-applications-page:lang(ar) {
    direction: ltr;
    font-family: var(--english-normal-font);
    text-align: left;
}

.job-applications-page button:lang(ar) {
    font-family: var(--english-normal-font-bold);
    letter-spacing: 0.3rem !important;
}

.booking-management-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.booking-management-page:lang(ar) {
    direction: ltr;
    font-family: var(--english-normal-font);
    text-align: left;
}

.booking-management-page button:lang(ar) {
    font-family: var(--english-normal-font-bold);
    letter-spacing: 0.3rem !important;
}

.booking-management-page td button:lang(ar) {
    letter-spacing: 0.1rem !important;
}

.dashboard-page-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}


.add-booking-modal, .edit-booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.add-booking-modal-form-overlay, .edit-booking-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
    top: 0;
    left: 0;
}


.add-booking-modal-form-container, .edit-booking-modal-container {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--harvest-white-color);
    width: 80%;
    min-height: 50%;
    z-index: 1001;
}

.add-booking-modal-form-container:lang(ar), .edit-booking-modal-container:lang(ar), .add-booking-modal:lang(ar), .edit-booking-modal:lang(ar) {
    direction: ltr;
    text-align: left;
}

.add-booking-modal-form-container h1:lang(ar), .add-booking-modal-form-container h2:lang(ar), .add-booking-modal-form-container h3:lang(ar), .edit-booking-modal-container h1:lang(ar), .edit-booking-modal-container h2:lang(ar), .edit-booking-modal-container h3:lang(ar) {
    font-family: var(--english-title-font);
}

.add-booking-modal-form-container label:lang(ar), .add-booking-modal-form-container input:lang(ar), .edit-booking-modal-container label:lang(ar), .edit-booking-modal-container input:lang(ar) {
    font-family: var(--english-normal-font);
    text-align: left;
    direction: ltr !important;
}

.add-booking-modal-form-container select:lang(ar), .edit-booking-modal-container select:lang(ar) {
    font-family: var(--english-normal-font);
    text-align: left !important;
    direction: ltr !important;
    background-position: right 0.7rem top 50% !important;
}

.add-booking-modal-form-container form:lang(ar), .edit-booking-modal-container form:lang(ar) {
    direction: ltr;
}

.add-booking-modal-form-container button:lang(ar), .edit-booking-modal-container button:lang(ar) {
    font-family: var(--english-normal-font-bold);
    letter-spacing: 0.3rem !important;
}


.add-booking-modal-form-container .number-input-container .number-form-field:lang(ar), .edit-booking-modal-container .number-input-container .number-form-field:lang(ar) {
    text-align: center;
}

.add-booking-modal-form-container .password-field-wrapper:lang(ar), .edit-booking-modal-container .password-field-wrapper:lang(ar) {
    text-align: left;
}

.add-booking-modal-form-container .toggle-password-visibility:lang(ar), .edit-booking-modal-container .toggle-password-visibility:lang(ar) {
    right: 2rem;
    left: auto;
}

.add-booking-modal-form-header, .edit-booking-modal-header {
    margin: 0.5rem;
}

.add-booking-modal-form-header h3,  .add-booking-modal-form-header p,  .edit-booking-modal-header h3,  .edit-booking-modal-header p {
    margin: 0.5rem;
}

.add-booking-modal-form-footer, .edit-booking-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.add-booking-modal-form-footer button, .edit-booking-modal-footer button {
    /*margin: 0.5rem;*/
    /*padding: 0.5rem;*/
    /*font-size: large;*/
}


.add-booking-modal-content, .edit-booking-modal-content {
    overflow-y: scroll;
    max-height: 80vh;
}

.delete-booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.delete-booking-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
    top: 0;
    left: 0;
}

.delete-booking-modal-container {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--harvest-white-color);
    width: 50%;
    z-index: 1001;
}

.delete-booking-modal-header {
    margin: 0.5rem;
}

.delete-booking-modal-header h3,  .delete-booking-modal-header p {
    margin: 0.5rem;
}

.delete-booking-modal-content {

}

.delete-booking-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.delete-booking-modal-footer button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
}

@media (max-width: 1600px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .add-booking-modal-form-container, .edit-booking-modal-container {
        width: 90%;
        min-height: 90%;
    }
}

@media (max-width: 768px) {
    .delete-booking-modal-container {
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {

    .add-booking-modal-form-container, .edit-booking-modal-container {
        background-color: var(--light-dark-accent-color);
    }

    .delete-booking-modal-container {
        background-color: var(--light-dark-accent-color);
    }

}