.admission-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.admission-process-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.admission-inside-egypt-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.admission-outside-egypt-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.admission-outside-egypt-foreigners-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;

}

.admission-process-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.admission-process-steps {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    flex-direction: column;
}

.admission-process-step {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.admission-process-button-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.admission-process-button {}

.admission-requirements-list-container {
    display: flex;
    align-content: flex-start;
    column-gap: 3rem;
    row-gap: 0;
    text-align: left;
}

.admission-requirements-list-container:lang(ar) {
    text-align: right;
}

.admission-requirements-list li p,  .admission-requirements-list li {
    font-size: large;
}

@media (max-width: 768px) {
    .admission-requirements-list li p, .admission-requirements-list li {
        font-size: inherit;
    }

    .admission-requirements-list li p, .admission-requirements-list li {
        font-size: small;
    }
}

@media (prefers-color-scheme: dark) {
    .admission-process-image {
        filter: drop-shadow(0 0 1rem var(--harvest-white-color));
    }
}