.admin-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(circle, var(--harvest-white-color), #1a2a6c);
}

.admin-login-page-form-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;

}

.admin-login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 40vh;
    background-color: var(--harvest-white-color);
    border-radius: 1rem;
    will-change: filter;
    transition: filter 0.5s;
    min-height: 35rem;

}

.admin-login-form-wrapper:hover {
    filter: drop-shadow(0 0 0.5rem var(--primary-color) );
}


@media (max-width: 1600px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

    .admin-login-form-wrapper {
        width: 70vw;
        height: 40vh;
    }

}



@media (max-width: 1024px) {

}


@media (max-width: 768px) {
    .admin-login-page {

    }

    .admin-login-form-wrapper {
        width: 90vw;
        height: 50vh;
    }
}

@media (prefers-color-scheme: dark) {


    .admin-login-page {
        background: radial-gradient(circle, var(--harvest-white-color), var(--harvest-black-gradient-color)) ;
    }

    .admin-login-form-wrapper {
        background-color: var(--light-dark-accent-color);
    }

    .admin-login-form-wrapper:hover {
        filter: drop-shadow(0 0 0.5rem var(--harvest-white-color));
    }
}

