.admin-footer {
    padding: 1rem;
    background-color: inherit;
    color: inherit;
    text-align: center;
    font-size: 0.9rem;
    border-top: 0.1rem solid rgba(150, 150, 150, 0.2);
}

.admin-copy-right-text {
    font-size: 0.5rem;
    font-family: var(--english-normal-font);
    text-align: center;
    color: var(--primary-color);
}


@media (max-width: 768px) {
    .admin-copy-right-text {
        font-size: 0.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    .admin-copy-right-text {
        color: var(--harvest-white-color);
    }
}