.dashboard-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.job-applications-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.booking-management-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.dashboard-page-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}


.add-booking-modal, .edit-booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.add-booking-modal-form-overlay, .edit-booking-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
    top: 0;
    left: 0;
}


.add-booking-modal-form-container, .edit-booking-modal-container {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    width: 80%;
    min-height: 50%;
    z-index: 1001;
}

.add-booking-modal-form-header, .edit-booking-modal-header {
    margin: 0.5rem;
}

.add-booking-modal-form-header h3,  .add-booking-modal-form-header p,  .edit-booking-modal-header h3,  .edit-booking-modal-header p {
    margin: 0.5rem;
}

.add-booking-modal-form-footer, .edit-booking-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.add-booking-modal-form-footer button, .edit-booking-modal-footer button {
    /*margin: 0.5rem;*/
    /*padding: 0.5rem;*/
    /*font-size: large;*/
}


.add-booking-modal-content, .edit-booking-modal-content {
    overflow-y: scroll;
    max-height: 80vh;
}

.delete-booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.delete-booking-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
    top: 0;
    left: 0;
}

.delete-booking-modal-container {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    width: 50%;
    z-index: 1001;
}

.delete-booking-modal-header {
    margin: 0.5rem;
}

.delete-booking-modal-header h3,  .delete-booking-modal-header p {
    margin: 0.5rem;
}

.delete-booking-modal-content {

}

.delete-booking-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.delete-booking-modal-footer button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
}

@media (max-width: 1600px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .add-booking-modal-form-container, .edit-booking-modal-container {
        width: 90%;
        min-height: 90%;
    }
}

@media (max-width: 768px) {
    .delete-booking-modal-container {
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {

    .add-booking-modal-form-container, .edit-booking-modal-container {
        background-color: #242424;
    }

    .delete-booking-modal-container {
        background-color: #242424;
    }

}