[dir="rtl"] {
    text-align: right;
}

[dir="ltr"] {
    text-align: left;
}

#root {

}

.content {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: inherit;
    min-height: 100vh;
}

.logo {
    height: 6rem;
    width: 6rem;
    margin: 1rem;
    will-change: filter;
    transition: filter 0.25s;
}

.logo:hover {
    filter: drop-shadow(0 0 1em var(--primary-color) );
}

.logo.react:hover {
    filter: drop-shadow(0 0 1em var(--primary-color) );
}

.standard-padding-container {
    padding: 1rem;
    width: calc(100% - 2rem);
}

.medium-padding-container {
    padding: 2rem;
    width: calc(100% - 4rem);
}

.high-padding-container {
    padding: 3rem;
    width: calc(100% - 6rem);
}

.extreme-padding-container {
    padding: 5rem;
}

.extreme-padding-container:lang(ar) {
    direction: rtl;
}

.extreme-padding-container:lang(ar) h1 {
    text-align: right;
    color: var(--primary-color);
}

.make-this-container-have-gaps {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1600px) {
    .logo {
        height: 6rem;
        width: 6rem;
    }
}

@media (max-width: 1200px) {
    .logo {
        height: 5rem;
        width: 5rem;
    }
}

@media (max-width: 1024px) {
    .logo {
        height: 4rem;
        width: 4rem;
    }

    .standard-padding-container {
        padding: 0.5rem;
        width: calc(100% - 1rem);
    }

    .medium-padding-container {
        padding: 1rem;
        width: calc(100% - 2rem);
    }

    .high-padding-container {
        padding: 1rem;
        width: calc(100% - 4rem);
    }

    .extreme-padding-container {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 4rem;
        width: 4rem;
    }

    .content {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    body {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: drop-shadow(0 0 1em var(--harvest-white-color));
    }

    .logo:hover {
        filter: drop-shadow(0 0 1em var(--harvest-white-color));
    }

    .extreme-padding-container:lang(ar) h1 {
        color: var(--harvest-white-color);
    }
}
