#root {

}

.content {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    overflow: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 6rem;
    width: 6rem;
    margin: 1rem;
    will-change: filter;
    transition: filter 0.25s;
}

.logo:hover {
    filter: drop-shadow(0 0 1em #1f2152);
}

.logo.react:hover {
    filter: drop-shadow(0 0 1em #1f2152);
}



@media (max-width: 1600px) {
    .logo {
        height: 6rem;
        width: 6rem;
    }
}

@media (max-width: 1200px) {
    .logo {
        height: 5rem;
        width: 5rem;
    }
}

@media (max-width: 1024px) {
    .logo {
        height: 4rem;
        width: 4rem;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 4rem;
        width: 4rem;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: drop-shadow(0 0 1em #ffffff);
    }

    .logo:hover {
        filter: drop-shadow(0 0 1em #ffffff);
    }
}
