.events-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.events-calendar-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.download-calendar-button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.download-calendar-button {

}

.booking-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(circle, var(--harvest-white-color), #1a2a6c);
}

.booking-login-page-form-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.booking-login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 45vh;
    background-color: var(--harvest-white-color);
    border-radius: 1rem;
    will-change: filter;
    transition: filter 0.5s;
    min-height: 20rem;
}

.booking-login-form-wrapper:hover {
    filter: drop-shadow(0 0 0.5rem var(--primary-color) );
}

.booking-extras-page {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.booking-media-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.booking-info-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-dashboard-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.extras-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.booking-extras-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 65vh;
    padding: 1rem;
    background-color: var(--harvest-white-color);
    color: var(--primary-color);
    border-radius: 1rem;
    will-change: filter;
    transition: filter 0.5s;
}

.booking-confirmation-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.dynamic-booking-confirmation-result-value-field,  .dynamic-booking-confirmation-result-value-field:lang(ar) {
    direction: ltr;
    font-family: var(--english-normal-font);
    text-align: left;
}

.booking-confirmation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 65vh;
    padding: 1rem;
    background-color: var(--harvest-white-color);
    color: var(--primary-color);
}

.events-booking-confirmation-error-message {
    color: red;
}

.confirmation-details {

}

.confirmation-info {

}

.confirmation-buttons-wrapper-in-booking-info-page {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.confirmation-buttons-wrapper-in-booking-extras-page {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}


@media (max-width: 1600px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

    .booking-login-form-wrapper {
        width: 40vw;
        height: 40vh;
    }

    .booking-extras-form-wrapper {
        width: 95vw;
        height: auto;
    }

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .booking-extras-form-wrapper {
        height: auto;
    }

    .booking-login-page {

    }

    .booking-login-form-wrapper {
        width: 90vw;
        height: 20vh;
    }

    .booking-confirmation-wrapper {
        width: 90vw;
        height: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .booking-login-page {
        background: radial-gradient(circle, var(--harvest-white-color), var(--harvest-black-gradient-color)) ;
    }

    .booking-login-form-wrapper {
        background-color: var(--light-dark-accent-color);
    }

    .booking-login-form-wrapper:hover {
        filter: drop-shadow(0 0 0.5rem var(--harvest-white-color));
    }

    .booking-extras-form-wrapper {
        background-color: var(--light-dark-accent-color);
        color: var(--harvest-white-color);
    }

    .booking-confirmation-page {
        background-color: var(--light-dark-accent-color);
        color: var(--harvest-white-color);
    }

    .booking-confirmation-wrapper {
        background-color: var(--light-dark-accent-color);
        color: var(--harvest-white-color);
    }

}