
.file-viewer-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.file-viewer-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    align-items: center;
    justify-content: center;
}


.file-viewer-actions-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-shrink: 0;
}

.file-viewer-embed-container {
    flex-grow: 1;
    min-height: 0;
    width: 80%;
}

.file-embed-viewer {
    width: 100%;
    height: 100vh;
    border: 0.3rem solid var(--read-only-field-grey-color);
    border-radius: 0.5rem;
}

.error-message, .download-message {
    padding: 1rem;
    font-size: small;
    text-align: center;

}

@media (max-width: 1200px) {

    .file-viewer-embed-container {
        width: 90%;
    }

    .file-embed-viewer {
        height: 85vh;
    }
}