.file-viewer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.file-viewer-header {

}

.file-viewer-actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.file-viewer-content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-viewer-content embed {
    border: 0.3rem solid #ccc;
    border-radius: 0.5rem;
}

.error-message {
    color: #c94349;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: medium;
}