.file-viewer-page {
    min-height: calc(100vh);
    height: calc(100vh);
    width: 100%;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.file-viewer-body {

}


.file-viewer-actions-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.file-viewer-embed-container {
    min-height: 0;
}

.file-embed-viewer {
    width: 100%;
    height: 100%;
    border: 0.3rem solid #ccc;
    border-radius: 0.5rem;
}

.error-message, .download-message {
    color: #c94349;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: medium;
    border: 0.3rem solid #ccc;
}
