.file-viewer-page {
    display: flex;
    min-height: 100vh;

}

.file-viewer-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.file-viewer-header {
    flex-shrink: 0;
}

.file-viewer-actions-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.file-viewer-embed-container {
    flex-grow: 1;
    overflow: hidden;
}

.file-embed-viewer {
    width: 100%;
    height: 100%;
    border: 0.3rem solid #ccc;
    border-radius: 0.5rem;
}

.error-message, .download-message {
    color: #c94349;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: medium;
    border: 0.3rem solid #ccc;
}
