.file-viewer-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.file-viewer-header {

}

.file-viewer-actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.file-viewer-content {
    flex-grow: 1;
    overflow: hidden;
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-viewer-content embed {
    border: 0.3rem solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.error-message, .download-message {
    color: #c94349;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: medium;
    border: 0.3rem solid #ccc;
}