.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
    height: 5rem;
    font-size: small;
    padding: 1rem;
    z-index: 999;
}

.footer-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
    height: 5rem;
    font-size: small;
    min-width: 20rem;
    padding: 1rem 0;
    color: var(--primary-color);
}

.footer-social-media-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    cursor: pointer;
    will-change: filter;
}

.footer-social-media-logo:hover {
    filter: drop-shadow(0 0 1rem #1977f3);
}

.copy-right-text {
    font-size: 0.5rem;
    font-family: var(--english-normal-font);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    color: var(--primary-color);
}

.mobile-footer-action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
    gap: 0.5rem;
    font-size: small;
    cursor: pointer;
}

.mobile-footer-action-icon,
.mobile-footer-action-icon-facebook,
.mobile-footer-action-icon-google-maps,
.mobile-footer-chat-icon,
.mobile-footer-call-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: filter;
    height: 3rem;
}

.mobile-footer-action-text {
    font-size: small;
    text-decoration: underline;
}

.mobile-footer-action-icon-facebook:hover {
    filter: drop-shadow(0 0 1rem #1977f3);
}

.mobile-footer-action-icon-google-maps:hover {
    filter: drop-shadow(0 0 1rem green);

}

.mobile-footer-chat-icon:hover {
    filter: drop-shadow(0 0 1rem var(--primary-color) );
}

.mobile-footer-call-icon:hover {
    filter: drop-shadow(0 0 1rem var(--primary-color) );
}

@media (max-width: 1600px) {

}

@media (max-width: 1200px) {
    .footer {
        height: 3rem;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (prefers-color-scheme: dark) {


    .copy-right-text {
        color: var(--light-accent-color);
    }

    .mobile-footer-action-text {
        color: var(--light-accent-color);
    }

    .mobile-footer-chat-icon {
        filter: drop-shadow(0 0 1rem var(--light-accent-color));
    }

    .mobile-footer-call-icon {
        filter: drop-shadow(0 0 1rem var(--light-accent-color));
    }

    .footer {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    }

    .footer-mobile {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    }

    .mobile-footer-chat-icon:hover {
        filter: drop-shadow(0 0 1rem var(--light-accent-color));
    }

    .mobile-footer-call-icon:hover {
        filter: drop-shadow(0 0 1rem var(--light-accent-color));
    }
}