
.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.form-field-container {

}

.text-form-field, .textarea-form-field, .select-form-field, .radio-form-field, .checkbox-form-field, .file-form-field, .select-multiple-form-field, .file-form-field-styled {
    margin: 1rem;
    will-change: filter;
    transition: filter 0.5s;
    color: #1f2152;
    font-size: large;
    font-family: 'Futura', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem;
    border: 0.1rem solid #1f2152;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    cursor: text;
}

.text-form-field:hover, .textarea-form-field:hover, .select-form-field:hover, .radio-form-field:hover, .checkbox-form-field:hover, .file-form-field:hover, .select-multiple-form-field:hover, .file-form-field-styled:hover {
    filter: drop-shadow(0 0 0.5rem #1f2152);
}

.text-form-field:focus, .textarea-form-field:focus, .select-form-field:focus, .radio-form-field:focus, .checkbox-form-field:focus, .file-form-field:focus, .select-multiple-form-field:focus, .file-form-field-styled:focus {
    filter: drop-shadow(0 0 0.5rem #1f2152);
}

.text-form-field:lang(ar), .textarea-form-field:lang(ar), .select-form-field:lang(ar), .radio-form-field:lang(ar), .checkbox-form-field:lang(ar), .file-form-field:lang(ar), .select-multiple-form-field:lang(ar), .file-form-field-styled:lang(ar), .form-title-section:lang(ar) {
    direction: rtl;
}

.text-form-field {

}

.textarea-form-field {
    resize: vertical;
    overflow: auto;
    min-height: 10rem;
    height: 15rem;
    max-height: 30rem;
}

.large-height-textarea {
    min-height: 30rem;
    height: 40rem;
    max-height: 60rem;
}

.textarea-form-field:lang(ar) {
    direction: rtl;
    padding: 1rem;
}

.select-form-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%231f2152" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.5rem;
    padding-right: 1rem;
    cursor: pointer;

}

.select-multiple-form-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-label-outside {
    margin-left: 1rem;
    margin-top: 1rem;
}

.radio-form-field {


}

.checkbox-form-field {

}

.file-form-field {
    cursor: pointer;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    display: none;
}

.file-form-field-styled {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.full-width {
    padding-right: 0;
    margin-right: 0;
    width: calc(100%);
}

.full-width-with-margin {
    width: calc(100%);
}

.two-thirds-width {
    margin-right: 0;
    width: calc(66.66% - 2.5rem);
}

.half-width {
    margin-right: 0;
    width: calc(50% - 2.2rem);
}

.select-form-field.third-width {
    margin-right: 0;
    width: calc(33.33333333334% - 1rem);
}

.third-width {
    margin-right: 0;
    width: calc(33.33333333334% - 2.2rem);
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

}

.form-footer-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.center-buttons {
    align-items: center;
    justify-content: center;
}

.left-buttons {
    align-items: start;
    justify-content: start;
}

.general-form-error {
    font-size: medium;
    letter-spacing: 0.005rem;
    color: #ff0000;
    margin: 0.5rem;
    word-break-wrap: break-word;
    word-wrap: break-word;
    wrap-option: auto;
    overflow-wrap: break-word;
}

.success-message {
    font-size: medium;
    letter-spacing: 0.005rem;
    color: #00ff00;
    margin: 0.5rem;
}

.submit-button {

}

.captcha-wrapper {
    padding-right: 0;
    width: calc(100%);
    display: flex;
    text-align: center;
    border: 0.1rem solid #1f2152;
    border-radius: 0.5rem;
    margin:1rem 0 1rem 1rem;
}

.captcha-wrapper-with-full-margin {
    margin: 1rem;
    padding-right: 0;
    width: calc(100%);
    display: flex;
    text-align: center;
    border: 0.1rem solid #1f2152;
    border-radius: 0.5rem;
}

.captcha-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    text-decoration: line-through;
    text-decoration-color: #ffffff;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Chrome, Safari, and Opera */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    pointer-events: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <circle cx="5" cy="5" r="1" fill="%23ff0000"/> <circle cx="12" cy="5" r="1" fill="%2300ff00"/> <circle cx="19" cy="5" r="1" fill="%230000ff"/> <circle cx="5" cy="12" r="1" fill="%23ffff00"/> <circle cx="12" cy="12" r="1" fill="%23ff00ff"/> <circle cx="19" cy="12" r="1" fill="%2300ffff"/> <circle cx="5" cy="19" r="1" fill="%23ffffff"/> <circle cx="12" cy="19" r="1" fill="%23000000"/> <circle cx="19" cy="19" r="1" fill="%23808080"/> </svg>');
    letter-spacing: 3rem;
    font-size: x-large;


}

.captcha-input {
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 3rem;
    font-size: x-large;
}

.refresh-captcha-button {
    font-size: xx-large;
    border-radius: 10rem;
    padding: 0 0 0 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.captcha-wrapper-half-width {
    width: calc(100%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #1f2152;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    padding-right: 0.5rem;


    margin:1rem 0 1rem 1rem;


}

.captcha-wrapper-half-width-with-full-margin {
    margin: 1rem;
    width: calc(100%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #1f2152;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    padding-right: 0.5rem;
}

.captcha-wrapper-half-width button {
    margin: 1rem 0 1rem 1rem;
}

.captcha-refresh-button-half-width {
    font-size: xx-large;
    border-radius: 10rem;
    padding: 0 0 0 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.file-form-field-styled-buttons-wrapper {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-form-field-styled-buttons-wrapper button {


}

.remove-button:hover {
    background-color: #c94349;
    color: #ffffff;
}

.captcha-wrapper:lang(ar) {
    direction: ltr;
    font-family: 'Futura', sans-serif
}

.captcha-wrapper-half-width:lang(ar) {
    direction: ltr;
    font-family: 'Futura', sans-serif
}

.captcha-wrapper-half-width-with-full-margin:lang(ar) {
    direction: ltr;
    font-family: 'Futura', sans-serif
}

.captcha-wrapper-with-full-margin:lang(ar) {
    direction: ltr;
    font-family: 'Futura', sans-serif
}

.captcha-input:lang(ar) {
    direction: ltr;
    font-family: 'Futura', sans-serif
}

.form-select-date-modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;


}

.form-select-date-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    z-index: 1000;
    top: 0;
    left: 0;
}

.form-select-date-modal-container {
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    width: 30%;
    max-height: 100%;
    z-index: 1001;
}

.form-select-date-modal-header {
    margin: 0.5rem;
}

.form-select-date-modal-header p {
    margin: 0.5rem;
}

.form-select-date-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.form-select-date-modal-footer button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: large;
}

.form-select-date-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-select-date-modal-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-title-section {
    margin: 1rem
}

.field-with-label-on-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
}

.field-with-label-on-top.full-width-with-margin {
    width: calc(100%);
}

.field-with-label-on-top.full-width {
    width: calc(100%);
}

.field-with-label-on-top.two-thirds-width {
    width: calc(66.66666666667%);
}

.field-with-label-on-top.half-width {
    width: calc(50%);
}

.field-with-label-on-top.third-width {
    width: calc(33.33333333334%);
}

.field-with-label-on-top.full-width .text-form-field {
    margin-right: 0;
    width: calc(100%);
}

.field-with-label-on-top.full-width .password-field-wrapper .text-form-field {
    margin-right: 0;
    width: calc(100% - 2.19rem);
}

.field-with-label-on-top.full-width-with-margin .text-form-field {
    width: calc(100%);
}

.field-with-label-on-top.full-width-with-margin .password-field-wrapper .text-form-field {
    width: calc(100% - 3rem);
}

.field-with-label-on-top.two-thirds-width .text-form-field {
    margin-right: 0;
    width: calc(100% - 2.5rem);
}

.field-with-label-on-top.half-width .text-form-field {
    margin-right: 0;
    width: calc(100% - 2.2rem);
}

.field-with-label-on-top.third-width .text-form-field {
    padding-right: 0;
    margin-right: 0;
    width: calc(100% - 2.2rem);
}

.field-with-label-on-top.third-width .select-form-field {
    margin-right: 0;
    width: calc(100% - 1rem);
}

.password-field-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.password-field-wrapper.full-width {
    width: 100%;
}

.password-field-wrapper.full-width-with-margin {
    width: 100%;
}

.password-field-wrapper.two-thirds-width {
    width: calc(66.66666666667%);
}

.password-field-wrapper.half-width {
    width: calc(50%);;
}

.password-field-wrapper.third-width {
    width: calc(33.33333333334%);
}

.password-field-wrapper.full-width .text-form-field {
    margin-right: 0;
    width: calc(100% - 2.19rem);
}

.password-field-wrapper.full-width-with-margin .text-form-field {
    width: calc(100% - 3.19rem);
}

.field-with-label-on-top.two-thirds-width .password-field-wrapper .text-form-field {
    margin-right: 0;
    width: calc(100% - 3.3rem);
}

.password-field-wrapper.two-thirds-width .text-form-field {
    margin-right: 0;
    width: calc(100% - 3.3rem);
}

.field-with-label-on-top.half-width .password-field-wrapper .text-form-field {
    margin-right: 0;
    width: calc(100% - 3.3rem);
}

.password-field-wrapper.half-width .text-form-field {
    margin-right: 0;
    width: calc(100% - 3.3rem);
}

.field-with-label-on-top.third-width .password-field-wrapper .text-form-field {
    margin-right: 0;
    width: calc(100% - 2.7rem);
}

.password-field-wrapper.third-width .text-form-field {
    padding-right: 0;
    margin-right: 0;
    width: calc(100% - 2.7rem);
}

.toggle-password-visibility {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    font-size: xx-large;
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: none;
    color: #1f2152;
}

.toggle-password-visibility:hover {
    opacity: 0.8;
    color: #1f2152;
    background: transparent;
    backdrop-filter: none;
}


.txtPassword {
    -webkit-text-security: disc;
}

@media (max-width: 1600px) {
    .captcha-box {
        letter-spacing: 2rem;
        font-size: x-large;
    }

    .captcha-input {
        letter-spacing: 2rem;
        font-size: x-large;
    }

    .file-form-field-styled-buttons-wrapper button  {
        padding: 0.5rem;
    }
}

@media (max-width: 1200px) {
    .captcha-box {
        letter-spacing: 1.5rem;
        font-size: x-large;
    }

    .captcha-input {
        letter-spacing: 1.5rem;
        font-size: x-large;
    }

    .form-select-date-modal-container {
        width: 40%;
    }

    .field-with-label-on-top .form-label-outside {
        font-size: medium;
    }
}

@media (max-width: 1024px) {

    .captcha-box {

        letter-spacing: 2rem;
        font-size: large;
    }

    .captcha-input {
        letter-spacing: 2rem;
        font-size: large;

    }

    .file-form-field-styled.third-width {
        width: calc(50% - 2.2rem);
    }



}

@media (max-width: 768px) {

    .toggle-password-visibility {
        font-size: x-large;
        top: 1.3rem;
        right: 2rem;
        transform: scale(1.2);
    }

    .text-form-field, .textarea-form-field, .select-form-field, .radio-form-field, .checkbox-form-field, .file-form-field, .select-multiple-form-field, .file-form-field-styled {
        margin: 0.5rem;
    }

    .file-form-field-styled {
        flex-direction: column;
    }

    .select-form-field.third-width {
        width: calc(100% - 1rem);
    }

    .file-form-field-styled.third-width {
        width: calc(100% - 1rem);
    }

    .select-form-field.half-width {
        width: calc(100% - 1rem);
    }

    .full-width {
        width: calc(100%);
    }

    .third-width,
    .half-width,
    .two-thirds-width {
        width: calc(100% - 1.5rem);
    }

    .field-with-label-on-top.two-thirds-width .text-form-field,     .field-with-label-on-top.third-width .text-form-field,     .field-with-label-on-top.half-width .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 1.5rem);
    }

    .field-with-label-on-top.two-thirds-width .password-field-wrapper .text-form-field,     .field-with-label-on-top.half-width .password-field-wrapper .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 2.19rem);
    }

    .field-with-label-on-top.third-width .password-field-wrapper .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 1.7rem);
    }

    .field-with-label-on-top.full-width-with-margin .password-field-wrapper .text-form-field, .field-with-label-on-top.full-width .password-field-wrapper .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 2.19rem);
    }

    .password-field-wrapper.full-width-with-margin .text-form-field, .password-field-wrapper.full-width  .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 2.19rem);
    }

    .password-field-wrapper.half-width .text-form-field, .password-field-wrapper.two-thirds-width  .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 2.19rem);
    }

    .password-field-wrapper.third-width  .text-form-field {
        margin: 0.5rem;
        width: calc(100% - 1.7rem);
    }

    .password-field-wrapper.half-width, .password-field-wrapper.two-thirds-width, .password-field-wrapper.third-width {
        width: calc(100%);
    }

    .field-with-label-on-top.third-width .select-form-field {
        margin: 0.5rem;
        width: calc(100% - 0.81rem);
    }

    .form-label-outside {
        margin-left: 0.5rem;
    }

    .field-with-label-on-top.two-thirds-width,     .field-with-label-on-top.half-width,    .field-with-label-on-top.third-width  {
        width: calc(100%);
    }

    .refresh-captcha-button {
        height: auto;
        font-size: x-large;
        border-radius: 0.5rem;
        width: 100%;
    }

    .captcha-wrapper {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .captcha-wrapper-half-width {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .captcha-wrapper-half-width button {
        margin: 0.5rem;
    }

    .captcha-wrapper button {
        margin: 0.5rem;
    }

    .captcha-wrapper-with-full-margin {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .captcha-wrapper-with-full-margin button {
        margin: 0.5rem;
    }

    .captcha-wrapper-half-width-with-full-margin {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .captcha-box {

        letter-spacing: 2.5rem;
        font-size: medium;
    }

    .captcha-input {
        letter-spacing: 2.5rem;
        font-size: medium;

    }

    .form-select-date-modal-container {
        width: 90%;
    }
}

@media (prefers-color-scheme: dark) {

    .text-form-field, .textarea-form-field, .select-form-field, .radio-form-field, .checkbox-form-field, .file-form-field, .select-multiple-form-field, .file-form-field-styled {
        color: #ffffff;
        border: 0.1rem solid #ffffff;
    }

    .text-form-field:hover, .textarea-form-field:hover, .select-form-field:hover, .radio-form-field:hover, .checkbox-form-field:hover, .file-form-field:hover, .select-multiple-form-field:hover, .file-form-field-styled:hover {
        filter: drop-shadow(0 0 0.5rem #ffffff);
    }

    .text-form-field:focus, .textarea-form-field:focus, .select-form-field:focus, .radio-form-field:focus, .checkbox-form-field:focus, .file-form-field:focus, .select-multiple-form-field:focus, .file-form-field-styled:focus {
        filter: drop-shadow(0 0 0.5rem #ffffff);
    }

    .select-form-field {
        background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    }

    .captcha-box {
        color: #ffffff;
        border: 0.1rem solid #ffffff;
        background-color: #0f0f0f;
        text-decoration-color: #000000;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <circle cx="5" cy="5" r="1" fill="%23000080"/> <circle cx="12" cy="5" r="1" fill="%23004040"/> <circle cx="19" cy="5" r="1" fill="%23000040"/> <circle cx="5" cy="12" r="1" fill="%23008000"/> <circle cx="12" cy="12" r="1" fill="%23004080"/> <circle cx="19" cy="12" r="1" fill="%23004080"/> <circle cx="5" cy="19" r="1" fill="%23ffffff"/> <circle cx="12" cy="19" r="1" fill="%23000000"/> <circle cx="19" cy="19" r="1" fill="%23808080"/> </svg>');


    }

    .captcha-wrapper {
        border: 0.1rem solid #ffffff;
    }


    .captcha-wrapper-half-width {
        border: 0.1rem solid #ffffff;
    }

    .form-select-date-modal-container {
        background-color: #242424;
    }

    .captcha-wrapper-with-full-margin {
        border: 0.1rem solid #ffffff;
    }

    .captcha-wrapper-half-width-with-full-margin {
        border: 0.1rem solid #ffffff;
    }

    .toggle-password-visibility {
        color: #ffffff
    }

    .toggle-password-visibility:hover {
        color: #ffffff
    }
}
