
.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.form-field-container {


}

.text-form-field, .textarea-form-field, .select-form-field, .radio-form-field, .checkbox-form-field, .file-form-field, .select-multiple-form-field, .file-form-field-styled {
    margin: 1rem;
    will-change: filter;
    transition: filter 0.5s;
    color: #1f2152;
    font-size: large;
    font-family: 'Futura', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem;
    border: 0.1rem solid #1f2152;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    cursor: text;
}

.text-form-field:hover, .textarea-form-field:hover, .select-form-field:hover, .radio-form-field:hover, .checkbox-form-field:hover, .file-form-field:hover, .select-multiple-form-field:hover, .file-form-field-styled:hover {
    filter: drop-shadow(0 0 0.5rem #1f2152);
}

.text-form-field:focus, .textarea-form-field:focus, .select-form-field:focus, .radio-form-field:focus, .checkbox-form-field:focus, .file-form-field:focus, .select-multiple-form-field:focus, .file-form-field-styled:focus {
    filter: drop-shadow(0 0 0.5rem #1f2152);
}

.text-form-field:lang(ar), .textarea-form-field:lang(ar), .select-form-field:lang(ar), .radio-form-field:lang(ar), .checkbox-form-field:lang(ar), .file-form-field:lang(ar), .select-multiple-form-field:lang(ar), .file-form-field-styled:lang(ar) {
    direction: rtl;

}

.text-form-field {

}

.textarea-form-field {
    resize: none;
    overflow: auto;
    height: 10vh;
    max-height: 15rem;
}

.textarea-form-field:lang(ar) {
    direction: rtl;
    padding: 1rem;
}

.select-form-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%231f2152" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.5rem;
    padding-right: 1rem;
    cursor: pointer;

}

.select-multiple-form-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-label-outside {
    margin-left: 1rem;
    margin-top: 1rem;
}


.radio-form-field {


}

.checkbox-form-field {

}

.file-form-field {
    cursor: pointer;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    display: none;
}

.file-form-field-styled {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.full-width {
    padding-right: 0;
    margin-right: 0;
    width: calc(100%);
}

.two-thirds-width {
    margin-right: 0;
    width: calc(66.66% - 2.5rem);
}

.half-width {
    margin-right: 0;
    width: calc(50% - 2.2rem);
}

.select-form-field.third-width {
    margin-right: 0;
    width: calc(33.33333333334% - 1rem);
}

.third-width {
    margin-right: 0;
    width: calc(33.33333333334% - 2.2rem);
}

.general-form-error {
    font-size: xx-small;
    letter-spacing: 0.005rem;
    color: #ff0000;
    margin: 0.5rem;
    word-break-wrap: break-word;
    word-wrap: break-word;
    wrap-option: auto;
    overflow-wrap: break-word;
}

.success-message {
    font-size: xx-small;
    letter-spacing: 0.005rem;
    color: #00ff00;
    margin: 0.5rem;
}

.submit-button {

}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

}

.captcha-wrapper {
    padding-right: 0;
    width: calc(100%);
    display: flex;
    text-align: center;
    border: 0.1rem solid #1f2152;
    border-radius: 0.5rem;
    margin: 1rem;
}

.captcha-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    text-decoration: line-through;
    text-decoration-color: #ffffff;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Chrome, Safari, and Opera */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    pointer-events: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <circle cx="5" cy="5" r="1" fill="%23ff0000"/> <circle cx="12" cy="5" r="1" fill="%2300ff00"/> <circle cx="19" cy="5" r="1" fill="%230000ff"/> <circle cx="5" cy="12" r="1" fill="%23ffff00"/> <circle cx="12" cy="12" r="1" fill="%23ff00ff"/> <circle cx="19" cy="12" r="1" fill="%2300ffff"/> <circle cx="5" cy="19" r="1" fill="%23ffffff"/> <circle cx="12" cy="19" r="1" fill="%23000000"/> <circle cx="19" cy="19" r="1" fill="%23808080"/> </svg>');
    letter-spacing: 3rem;
    font-size: x-large;

}

.captcha-input {
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 3rem;
    font-size: x-large;
}

.refresh-captcha-button {
    font-size: xx-large;
    border-radius: 10rem;
    padding: 0 0 0 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.captcha-wrapper-half-width {
    width: calc(100%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #1f2152;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    padding-right: 1rem;
    margin: 0.5rem;

}

.captcha-refresh-button-half-width {
    font-size: xx-large;
    border-radius: 10rem;
    padding: 0 0 0 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.file-form-field-styled-buttons-wrapper {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-form-field-styled-buttons-wrapper button {


}

.remove-button:hover {
    background-color: #c94349;
    color: #ffffff;
}

@media (max-width: 1600px) {
    .captcha-box {
        letter-spacing: 2rem;
        font-size: x-large;
    }

    .captcha-input {
        letter-spacing: 2rem;
        font-size: x-large;
    }

    .file-form-field-styled-buttons-wrapper button  {
        padding: 0.5rem;
    }
}

@media (max-width: 1200px) {

    .captcha-box {
        letter-spacing: 1.5rem;
        font-size: x-large;
    }

    .captcha-input {
        letter-spacing: 1.5rem;
        font-size: x-large;
    }

    .captcha-wrapper-half-width {
        padding-right: 0.5rem;
    }


}

@media (max-width: 1024px) {

    .captcha-box {
        letter-spacing: 1rem;
        font-size: x-large;
    }

    .captcha-input {
        letter-spacing: 1rem;
        font-size: x-large;
    }

    .file-form-field-styled.third-width {
        width: calc(50% - 2.2rem);
    }
}

@media (max-width: 768px) {

    .text-form-field, .textarea-form-field, .select-form-field, .radio-form-field, .checkbox-form-field, .file-form-field, .select-multiple-form-field, .file-form-field-styled {
        margin: 0.5rem;
    }

    .file-form-field-styled {
        flex-direction: column;
    }

    .select-form-field.third-width {
        width: calc(100% - 1rem);
    }

    .file-form-field-styled.third-width {
        width: calc(100% - 1rem);
    }

    .select-form-field.half-width {
        width: calc(100% - 1rem);
    }

    .full-width {
        width: calc(100%);
    }

    .third-width {
        width: calc(100% - 1.5rem);
    }

    .half-width {
        width: calc(100% - 1.5rem);
    }

    .two-thirds-width {
        width: calc(100% - 1.5rem);
    }

    .form-label-outside {
        margin-left: 0.5rem;

    }

    .refresh-captcha-button {
        height: auto;
        font-size: xx-large;
        border-radius: 0.5rem;
        width: 100%;
    }

    .captcha-wrapper {
        margin: 0.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .captcha-box {

        letter-spacing: 1rem;
        font-size: x-large;
    }

    .captcha-input {
        letter-spacing: 1rem;
        font-size: x-large;

    }



}

@media (prefers-color-scheme: dark) {

    .text-form-field, .textarea-form-field, .select-form-field, .radio-form-field, .checkbox-form-field, .file-form-field, .select-multiple-form-field, .file-form-field-styled {
        color: #ffffff;
        border: 0.1rem solid #ffffff;
    }

    .text-form-field:hover, .textarea-form-field:hover, .select-form-field:hover, .radio-form-field:hover, .checkbox-form-field:hover, .file-form-field:hover, .select-multiple-form-field:hover, .file-form-field-styled:hover {
        filter: drop-shadow(0 0 0.5rem #ffffff);
    }

    .text-form-field:focus, .textarea-form-field:focus, .select-form-field:focus, .radio-form-field:focus, .checkbox-form-field:focus, .file-form-field:focus, .select-multiple-form-field:focus, .file-form-field-styled:focus {
        filter: drop-shadow(0 0 0.5rem #ffffff);
    }

    .select-form-field {
        background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    }

    .captcha-box {
        color: #ffffff;
        border: 0.1rem solid #ffffff;
        background-color: #0f0f0f;
        text-decoration-color: #000000;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <circle cx="5" cy="5" r="1" fill="%23000080"/> <circle cx="12" cy="5" r="1" fill="%23004040"/> <circle cx="19" cy="5" r="1" fill="%23000040"/> <circle cx="5" cy="12" r="1" fill="%23008000"/> <circle cx="12" cy="12" r="1" fill="%23004080"/> <circle cx="19" cy="12" r="1" fill="%23004080"/> <circle cx="5" cy="19" r="1" fill="%23ffffff"/> <circle cx="12" cy="19" r="1" fill="%23000000"/> <circle cx="19" cy="19" r="1" fill="%23808080"/> </svg>');


    }

    .captcha-wrapper {
        border: 0.1rem solid #ffffff;
    }

}