.quadruple-full-page-selector {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( calc(25%), 1fr ) );
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 100%;
}

.double-in-full-page-selector {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( calc(50%), 1fr ) );
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 100%;
}

.double-in-full-page-selector-left-option-in-full-page-selector, .quadruple-full-page-selector-left-option-in-full-page-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--harvest-white-color);
    font-size: 100%;
}

.double-in-full-page-selector-left-option-in-full-page-selector:hover, .quadruple-full-page-selector-left-option-in-full-page-selector:hover {
    background-color: var(--harvest-white-color);
    color: var(--primary-color);
}

.double-in-full-page-selector-right-option-in-full-page-selector, .quadruple-full-page-selector-right-option-in-full-page-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--harvest-white-color);
    font-size: 100%;
}

.double-in-full-page-selector-right-option-in-full-page-selector:hover, .quadruple-full-page-selector-right-option-in-full-page-selector:hover {
    background-color: var(--harvest-white-color);
    color: var(--secondary-color);
}

.double-in-full-page-selector-left-option-in-full-page-selector h1 {
    font-size: 5vw;
    font-weight: normal;
}

.double-in-full-page-selector-right-option-in-full-page-selector h1 {
    font-size: 5vw;
    font-weight: normal;
}


.quadruple-full-page-selector-left-option-in-full-page-selector h1 {
    font-size: 3vw;
    font-weight: normal;
}

.quadruple-full-page-selector-right-option-in-full-page-selector h1 {
    font-size: 3vw;
    font-weight: normal;
}


@media (prefers-color-scheme: dark) {

    .double-in-full-page-selector-right-option-in-full-page-selector:hover, .quadruple-full-page-selector-right-option-in-full-page-selector:hover {
        background-color: var(--dark-accent-color);
        color: var(--secondary-color);
    }

    .double-in-full-page-selector-left-option-in-full-page-selector:hover, .quadruple-full-page-selector-left-option-in-full-page-selector:hover {
        background-color: var(--dark-accent-color);
        color: var(--primary-color);
    }
}

