.gallery-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-photos-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-360-tour-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-360-tour-page container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.gallery-360-tour-iframe {
    width: 50vw;
    height: 50vh;
    border: none;
}

.gallery-photos-page container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.narrow-sliders-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    gap: 2rem;
}

.gallery-videos-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery-videos-page container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

}

.gallery-360-tour-buttons-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    gap: 2rem;

}

.gallery-360-tour-index-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;

}

@media (max-width: 1024px) {
    .gallery-360-tour-iframe {
        width: 90vw;
        height: 50vh;
    }

    .gallery-photos-page container {
        gap: 2rem;
    }


}

@media (max-width: 768px) {

    .narrow-sliders-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}