.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.home-page-about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    min-width: 20rem;

}

.home-page-about-us-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    margin-top: 1rem;
    min-width: 20rem;

}

.home-page-accreditations-section-container {



}

.home-page-accreditations-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    min-width: 20rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

.accreditation-photo {
    width: 40%;
    height: 40%;
    object-fit: cover;
    min-width: 10rem;
    filter: drop-shadow(0 0 1rem var(--light-accent-color));
    margin-bottom: 5rem;
}

.home-page-contact-and-visit-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    gap: 2rem;
    margin: 2rem;
    min-width: 20rem;
}

.home-page-contact-us-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-width: 20rem;
    width: 100%;
    height: 100%;
}

.home-page-visit-us-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-width: 20rem;
    width: 100%;
    height: 100%;
}

.home-page-visit-us-section-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    min-width: 20rem;

}

.home-page-visit-us-section-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    min-width: 20rem;
}

.important-info-hyperlink-text {

    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
    line-height: 3;
    font-size: xx-large;
}



@media (max-width: 1600px) {

}

@media (max-width: 1200px) {


    .home-page-about-us-video {
        width: 60vw;
        height: 45vh;
    }


    .important-info-hyperlink-text {
        font-size: x-large;
    }

    .home-page-contact-and-visit-us-container {
        gap: 1rem;
    }


}

@media (max-width: 1024px) {



    .home-page-about-us-section {
        margin: 1rem;
        padding: 1rem;

    }

    .home-page-about-us-video {
        width: 70vw;
        height: 40vh;
    }



    .home-page-visit-us-section-map {
        height: 25rem;
        width: 90%;
    }

    .home-page-contact-and-visit-us-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;
        min-width: 20rem;

    }
}

@media (max-width: 768px) {
    .home-page-about-us-section {
        margin: 0.5rem;
        padding: 0.5rem;

    }

    .home-page-contact-us-section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .home-page-contact-us-section form.form {

    }

    .home-page-visit-us-section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .home-page-about-us-video {
        width: 90%;
        height: 40vh;
    }

    .home-page-accreditations-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin: 1rem;
        min-width: 20rem;
    }

    .accreditation-photo {
        width: 30%;
        height: 30%;
        object-fit: cover;
        min-width: 20rem;
    }

    .important-info-hyperlink-text {
        font-size: 0.8rem;
    }

}

@media (prefers-color-scheme: dark) {
    .important-info-hyperlink-text {
        color: var(--light-accent-color);
    }
}