@font-face {
    font-family: 'Futura';
    src: url('../../public/assets/fonts/Futura/FuturaLT.woff2') format('woff2'),
        url('../../public/assets/fonts/Futura/FuturaLT.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../../public/assets/fonts/Futura/FuturaLT-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Futura/FuturaLT-Bold.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}


@font-face {
    font-family: 'American Typewriter';
    src: url('../../public/assets/fonts/American Typewriter/American Typewriter ITCW01 Lt.woff2') format('woff2'),
        url('../../public/assets/fonts/American Typewriter/American Typewriter ITCW01 Lt.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Arian Lt';
    src: url('../../public/assets/fonts/Arian LT/Arian LT.woff2') format('woff2'),
    url('../../public/assets/fonts/Arian LT/Arian LT.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Arian LT Demi';
    src: url('../../public/assets/fonts/Arian LT Demi/Arian LT Demi.woff2') format('woff2'),
    url('../../public/assets/fonts/Arian LT Demi/Arian LT Demi.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'American Typewriter Light';
    src: url('../../public/assets/fonts/American Typewriter Light/ITC American Typewriter Light.woff2') format('woff2'),
        url('../../public/assets/fonts/American Typewriter Light/ITC American Typewriter Light.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}


:root {
    font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #1f2152;
    text-decoration: inherit;
}

a:hover {
    color: #ffffff;

}

a:visited {
    color: #1f2152;
}

a:visited:hover {
    color: #ffffff;
}

body {
    width: 100vw;
    padding: 0;
    margin: 0;

}

h1 {
    font-family: "American Typewriter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: 0.3rem;
}

h2 {
    font-family: "American Typewriter", "Courier New", Courier, monospace;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

p {

    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

h1:lang(ar) {
    font-family: 'Arian LT Demi', sans-serif;
    letter-spacing: 0.1rem;
}

p:lang(ar) {
    font-family: 'Arian LT Demi', sans-serif;
}

h2:lang(ar) {
    font-family: 'Arian Lt', sans-serif;
}


button {
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
    margin: 1rem;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Futura-Bold', sans-serif;
    letter-spacing: 0.3rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #1f2152;
    cursor: pointer;
    will-change: filter;
    transition: filter 0.25s;
    box-shadow: 0 0 0.5rem #1f2152;
}

button:hover {
    filter: drop-shadow(0 0 2em #1f2152);
    background-color: #1f2152;
    color: #ffffff;
}

button:lang(ar) {
    font-family:'Arian LT Demi', sans-serif;
    letter-spacing: 0.1rem;

}



@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #ffffff;
    }
}




@media (max-width: 1600px) {
    button {
        font-size: x-large;
    }

}

@media (max-width: 1200px) {
    button {
        font-size: large;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
    }
}

@media (max-width: 1024px) {
    button {
        font-size: large;
    }

    h2 {
        font-size: 1.5rem;
    }

    h2:lang(ar) {
        letter-spacing: 0.1rem;
    }

}

@media (max-width: 768px) {
    button {
        font-size: small;
        letter-spacing: 0.1rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    h1:lang(ar) {
        letter-spacing: 0.1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h2:lang(ar) {
        letter-spacing: 0.1rem;
    }

    p {
        font-size: 1rem;
    }

    p:lang(ar) {
        letter-spacing: 0.1rem;
    }

}

@media (prefers-color-scheme: dark) {

    a {
        color: #ffffff;
    }

    a:visited {
        color: #ffffff;
    }

    a:visited:hover {
        color: #ffffff;
    }

    a:hover {
        color: #ffffff;
    }

    button {
        background-color: #ffffff;
        color: #1f2152;
    }

    button:hover {
        filter: drop-shadow(0 0 2rem #ffffff);
        background-color: #242424;
        color: #ffffff;
    }
}

