[dir="rtl"] {
    text-align: right;
}

[dir="ltr"] {
    text-align: left;
}

:lang(ar) {
    letter-spacing: 0 !important;
}

@font-face {
    font-family: 'Futura';
    src: url('../../public/assets/fonts/Futura/FuturaLT.woff2') format('woff2'),
        url('../../public/assets/fonts/Futura/FuturaLT.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../../public/assets/fonts/Futura/FuturaLT-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Futura/FuturaLT-Bold.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}


@font-face {
    font-family: 'American Typewriter';
    src: url('../../public/assets/fonts/American Typewriter/American Typewriter.woff2') format('woff2'),
        url('../../public/assets/fonts/American Typewriter/American Typewriter.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Arian Lt';
    src: url('../../public/assets/fonts/Arian LT/Arian LT.woff2') format('woff2'),
    url('../../public/assets/fonts/Arian LT/Arian LT.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Arian LT Demi';
    src: url('../../public/assets/fonts/Arian LT Demi/Arian LT Demi.woff2') format('woff2'),
    url('../../public/assets/fonts/Arian LT Demi/Arian LT Demi.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'American Typewriter Light';
    src: url('../../public/assets/fonts/American Typewriter Light/ITC American Typewriter Light.woff2') format('woff2'),
        url('../../public/assets/fonts/American Typewriter Light/ITC American Typewriter Light.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Reem Kufi';
    src: url('../../public/assets/fonts/Reem Kufi/ReemKufi-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Reem Kufi/ReemKufi-Bold.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Arslan Wessam A';
    src: url('../../public/assets/fonts/Arslan Wessam A/Arslan Wessam A.woff2') format('woff2'),
        url('../../public/assets/fonts/Arslan Wessam A/Arslan Wessam A.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}

@font-face {
    font-family: 'Janna LT Bold';
    src: url('../../public/assets/fonts/Janna LT Bold/Janna LT Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Janna LT Bold/Janna LT Bold.woff') format('woff');
    font-weight: auto;
    font-style: auto;
}


:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--light-dark-accent-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #1f2152;
    --secondary-color: #c94349;
    --dark-accent-color: #454545;
    --light-dark-accent-color: #242425FF;
    --harvest-black-color: #000000;
    --harvest-black-gradient-color: #0f0f0f;
    --harvest-link-color: #052ced;
    --read-only-field-grey-color: #ccc;
    --harvest-white-gradient: #f0f0f0f0;
    --harvest-white-color: #ffffff;
    --english-title-font: "American Typewriter", "Courier New", Courier, monospace;
    --english-normal-font: 'Futura', sans-serif;
    --english-normal-font-bold: 'Futura-Bold', sans-serif;
    --arabic-title-font: 'Janna LT Bold', sans-serif;
    --arabic-normal-font: 'Arian LT', sans-serif;
    --arabic-normal-font-bold: 'Arian LT Demi', sans-serif;

    font-family: var(--english-normal-font);
}

a {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
}

a:hover {
    color: #747bff;
    cursor: pointer;

}

a:visited {
    color: #747bff;
}

a:visited:hover {
    color: var(--harvest-white-color);
}

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-X: hidden;
}

body.lock-scroll {
    overflow: hidden;
}


h1 {
    font-family: var(--english-title-font);
    font-weight: 600;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: 0.3rem;
}

h2 {
    font-family: var(--english-title-font);
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

h3 {
    font-family: var(--english-title-font);
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

p {

    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

h1:lang(ar) {
    font-family: var(--arabic-title-font);
    letter-spacing: 0.1rem;
}

p:lang(ar) {
    font-family: var(--arabic-normal-font);
}

h2:lang(ar) {
    font-family: var(--arabic-title-font);
}

h3:lang(ar) {
    font-family: var(--arabic-title-font);
}


button {
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
    margin: 1rem;
    font-size: x-large;
    font-weight: bold;
    font-family: var(--english-normal-font-bold);
    letter-spacing: 0.3rem;
    line-height: 1.5;
    background-color: var(--harvest-white-color);
    color: var(--primary-color);
    cursor: pointer;
    will-change: filter;
    transition: filter 0.25s;
    box-shadow: 0 0 0.5rem var(--primary-color);
}

button:hover {
    filter: drop-shadow(0 0 0.5rem var(--primary-color));
    background-color: var(--primary-color);
    color: var(--harvest-white-color);
}

button:lang(ar) {
    font-family: var(--arabic-normal-font-bold);
    letter-spacing: 0.1rem;

}

form:lang(ar) {
    direction: rtl;
}

input:lang(ar) {
    direction: rtl;
    font-family: var(--arabic-normal-font);
}

textarea:lang(ar) {
    direction: rtl;
    font-family: var(--arabic-normal-font);
}

label {

}

label:lang(ar) {
    font-family: var(--arabic-normal-font);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: var(--harvest-white-color);
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: var(--harvest-white-color);
    }
}




@media (max-width: 1600px) {
    button {
        font-size: x-large;
    }

}

@media (max-width: 1200px) {
    button {
        font-size: large;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

@media (max-width: 1024px) {
    button {
        font-size: large;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h2:lang(ar) {
        letter-spacing: 0rem;
    }



}

@media (max-width: 768px) {
    button {
        font-size: small;
        letter-spacing: 0.1rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    h1:lang(ar) {
        letter-spacing: 0rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h2:lang(ar) {
        letter-spacing: 0rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    p:lang(ar) {
        letter-spacing: 0rem;
    }

    h3:lang(ar) {
        letter-spacing: 0rem;
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        --harvest-link-color: deepskyblue;
    }

    a {
        color: var(--harvest-white-color);
    }

    a:visited {
        color: var(--harvest-white-color);
    }

    a:visited:hover {
        color: var(--harvest-white-color);
    }

    a:hover {
        color: var(--harvest-white-color);
    }

    button {
        background-color: var(--harvest-white-color);
        color: var(--primary-color);
    }

    button:hover {
        filter: drop-shadow(0 0 2rem var(--harvest-white-color));
        background-color: var(--light-dark-accent-color);
        color: var(--harvest-white-color);
    }

    h1, h2, h3, p {
        color: var(--harvest-white-color);
    }

    label {
        color: var(--harvest-white-color);
    }
}

