.spinner-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.8);
}

.loader {
    width: 50px;
    height: 50px;
    scale: 2;
    animation: spin 0.8s infinite linear;
}

.loader svg {
    width: 100%;
    height: 100%;
}

.loader-track {
    fill: none;
    stroke: rgba(128, 128, 128, 0.2);
    stroke-width: 8px;
}

.loader-line {
    fill: none;
    stroke: var(--harvest-white-color);
    stroke-width: 8px;
    stroke-dasharray: 70 100;
    stroke-linecap: round;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@media (max-width: 768px) {

}