.meta-info-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.meta-info-container-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.meta-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 0 0.5rem var(--primary-color);
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 85vh;
    width: 80vw;
}

.meta-info-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    height: 5rem;
}

.meta-info-header-container h3 {
    color: var(--fb-white-color);
}

.meta-info-body-grid-item-container p {
    margin: 0.5rem 0;
    font-size: medium;
}

.meta-info-body-grid-item-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0.5rem;
    box-sizing: border-box;
    height: 100%
}

.meta-info-body-grid-item-button {
    padding: 0.5rem 1.5rem;
    text-wrap: nowrap;
}

.meta-info-header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    vertical-align: center;
    text-align: center;
    padding: 0 3rem;
}

.meta-info-header-image-container {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    border-radius: 0.5rem;
}

.meta-info-header-image {
    border-radius: 0.5rem;
}

.meta-info-body-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    width: 95%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 1rem;
}

.copy-to-clipboard-alert-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    left: 0;
    align-content: center;
    width: 100%;
}

.copy-to-clipboard-alert {
    box-shadow: 0 0 0.5rem var(--primary-color);
    background-color: var(--fb-white-color);
    border-radius: 0.5rem;
    text-align: center;
    width: 30rem;
}

.copy-to-clipboard-alert p {
    margin: 0.5rem 0;
    font-size: medium;
}

.meta-info-body-grid-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 0.5rem var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.meta-info-body-grid-item-container:lang(ar) {
    font-family: var(--arabic-normal-font);
}

.meta-info-body-grid-item-value-box {
    box-shadow: 0 0 0.5rem var(--primary-color);
    padding: 0 1rem;
    border-radius: 0.5rem;
    height: 100%;
}

.always-english-value-box, .always-english-value-box:lang(ar) {
    font-family: var(--english-normal-font);
    direction: ltr;
    text-align: left;
}

.always-english-value-box:lang(ar) p {
    font-family: var(--english-normal-font);
}

.meta-info-body-grid-item-value-box p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.meta-info-footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    padding: 1rem 0 1rem 0;
    padding-inline-start: 1rem;
    box-shadow: 0 0 0.5rem var(--primary-color);
    box-sizing: border-box;
}

@media (max-width: 1440px) {
    .meta-info-container {
        width: 90vw;
    }

    .meta-info-body-container {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
}

@media (max-width: 1200px) {
    .meta-info-container {
        width: 95vw;
    }

    .meta-info-body-container {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
}

@media (max-width: 768px) {

    .meta-info-container {
        width: 95%;
        height: 90vh;
    }

    .meta-info-body-container {
        grid-template-columns: 100%;
        gap: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    .meta-info-header-container {
        gap: 1rem;
    }

    .meta-info-header-image-container {

    }

    .copy-to-clipboard-alert {
        width: 90%;
    }

    .meta-info-header-title {
        padding: 0 1rem;
    }

    .meta-info-footer-container {
        align-items: center;
        padding: 1rem 0 1rem 0;
    }

    .meta-info-body-grid-item-button-wrapper {
        justify-content: start;
    }

    .meta-info-body-grid-item-button {
        margin-inline-start: 0;
    }

    .meta-info-body-grid-item-value-box {
        height: 3rem;
    }

    .meta-info-body-grid-item-value-box p {
        -webkit-line-clamp: 1;
    }

    .meta-info-body-grid-item-container {
        justify-content: space-around;
        width: 100%;
    }
}

@media (max-width: 500px) {

}

@media (prefers-color-scheme: dark) {
    .meta-info-header-container {
        background-color: var(--fb-white-color);
    }

    .meta-info-header-container h3 {
        color: var(--primary-color);
    }

    .meta-info-container {
        box-shadow: 0 0 0.5rem var(--fb-white-color);
    }

    .meta-info-body-grid-item-container {
        box-shadow: 0 0 0.5rem var(--fb-white-color);
    }

    .copy-to-clipboard-alert {
        box-shadow: 0 0 0.5rem var(--fb-white-color);
        background-color: var(--light-dark-accent-color);
    }

    .meta-info-footer-container {
        box-shadow: 0 0 0.5rem var(--fb-white-color);
    }

    .meta-info-body-grid-item-value-box {
        box-shadow: 0 0 0.5rem var(--fb-white-color);
    }
}
