.more-info-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faqs-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

.minimum-stage-age-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.covid-19-english-read-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    word-break: break-word;

}

.covid-19-arabic-read-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    direction: rtl;
    text-align: right;
}

.covid-19-arabic-read-page-title {
    color: var(--secondary-color);
    line-height: 2;
    direction: rtl;
    text-align: right;
}

.covid-19-arabic-read-page-paragraph {
    color: var(--primary-color);
    direction: rtl;
    text-align: right;
}

.covid-19-arabic-read-page-numbered-list {
    list-style-type: decimal;
    direction: rtl;
    text-align: right;
}

.covid-19-arabic-read-page-list {
    direction: rtl;
    text-align: right;
}



.covid-19-arabic-read-page-list li {

}

.covid-19-english-read-title {
    color: var(--secondary-color);
    line-height: 2;
}

.covid-19-english-read-paragraph {
    color: var(--primary-color);

}

.covid-19-english-read-numbered-list {
    list-style-type: decimal
}

.covid-19-english-read-list {

}

.covid-19-english-read-link {
    color: var(--secondary-color);

}

.covid-19-english-read-link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.covid-19-arabic-read-page-link {
    color: var(--secondary-color);
}

.covid-19-arabic-read-page-link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.faq-breaker {
    color: var(--secondary-color);
    filter: drop-shadow(0 0 1rem var(--secondary-color) );
    box-shadow: 0 0 1rem var(--secondary-color);
    text-align: center;
    border-radius: 3rem;
}

.faq-breaker h1 {
    font-size: 10rem;
}

.faq-q-and-a-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-content: stretch;
    column-gap: 3rem;
    row-gap: 0;
}

.faq-q-and-a-english {
    direction: ltr;
    text-align: left;
}

.faq-q-and-a-list-english {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.faq-q-and-a-list-english ul {
    direction: ltr;
    text-align: left;
}

.faq-q-and-a-list-english ul li {
    direction: ltr;
    text-align: left;
}

.faq-q-and-a-list-english-q {
    color: var(--secondary-color);
}


.faq-q-and-a-list-english-a {
    color: var(--primary-color);
}

.faq-q-and-a-list-english li, .faq-q-and-a-list-english li p {
    font-size: 2.5rem;

}

.faq-q-and-a-arabic {
    direction: rtl;
    text-align: right;
}

.faq-q-and-a-list-arabic {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.faq-q-and-a-list-arabic ul {
    direction: rtl;
    text-align: right;
}

.faq-q-and-a-list-arabic ul li {
    direction: rtl;
    text-align: right;
}

.faq-q-and-a-list-arabic-q {
    color: var(--secondary-color);
}

.faq-q-and-a-list-arabic-a {
    color: var(--primary-color);
}

.faq-q-and-a-list-arabic li, .faq-q-and-a-list-arabic li p {
    font-size: 2.5rem;
}

@media (max-width: 1600px) {

    .faq-q-and-a-list-arabic li, .faq-q-and-a-list-arabic li p {
        font-size: 2rem;
    }

    .faq-q-and-a-list-english li, .faq-q-and-a-list-english li p {
        font-size: 2rem;
    }

}

@media (max-width: 1440px) {

}


@media (max-width: 1200px) {
    .faq-q-and-a-list-arabic li, .faq-q-and-a-list-arabic li p {
        font-size: 1.5rem;
    }

    .faq-q-and-a-list-english li, .faq-q-and-a-list-english li p {
        font-size: 1.5rem;
    }
}


@media (max-width: 1024px) {
    .faq-q-and-a-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .faq-q-and-a-list-arabic li, .faq-q-and-a-list-arabic li p {
        font-size: 1rem;
    }

    .faq-q-and-a-list-english li, .faq-q-and-a-list-english li p {
        font-size: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .faq-breaker {
        color: white;
        filter: drop-shadow(0 0 1rem white);
        box-shadow: 0 0 1rem white;
    }

    .faq-q-and-a-list-arabic-q {
        color: white;
    }

    .faq-q-and-a-list-arabic-a {
        color: white;
    }

    .faq-q-and-a-list-english-q {
        color: white;
    }

    .faq-q-and-a-list-english-a {
        color: white;
    }

    .covid-19-arabic-read-page-title {
        color: white;
    }

    .covid-19-arabic-read-page-paragraph {
        color: white;
    }

    .covid-19-english-read-title {
        color: white;
    }

    .covid-19-english-read-paragraph {
        color: white;
    }

    .covid-19-english-read-link {
        color: deepskyblue;
    }

    .covid-19-english-read-link:hover {
        color: white;
    }

    .covid-19-arabic-read-page-link {
        color: deepskyblue;
    }

    .covid-19-arabic-read-page-link:hover {
        color: white;
    }



}