.more-info-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faqs-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

.faq-q-and-a {
    width: 100%
}

.download-a-copy-of-covid-19-guide-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.faq-q-and-a-breaker {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    filter: drop-shadow(0 0 1rem var(--secondary-color) );
    box-shadow: 0 0 1rem var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.faq-q-and-a-breaker h1:lang(ar) {
    color: var(--secondary-color);
}

.faq-q-and-a-breaker h1 {
    font-size: 5rem;
}

.minimum-stage-age-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.covid-19-read-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    word-break: break-word;

}

.covid-19-read-title {
    color: var(--secondary-color);
    line-height: 2;
}

.covid-19-read-paragraph {
    color: var(--primary-color);

}

.covid-19-read-list {

}

.covid-19-read-link {
    color: var(--secondary-color);
}

.covid-19-read-link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.faq-q-and-a-container {
    display: flex;
}

.faq-q-and-a-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}


.faq-q-and-a-list-q {
    color: var(--secondary-color);
}


.faq-q-and-a-list-a {
    color: var(--primary-color);
}

.faq-q-and-a-list li, .faq-q-and-a-list li p {
    font-size: xx-large;
}

@media (max-width: 1600px) {
    .faq-q-and-a-breaker h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1400px) {
    .faq-q-and-a-breaker h1 {
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {

    .faq-q-and-a-breaker h1 {
        font-size: 2rem;
    }

    .faq-q-and-a-list li, .faq-q-and-a-list li p {
        font-size: x-large;
    }
}

@media (max-width: 768px) {

    .faq-q-and-a-list li, .faq-q-and-a-list li p {
        font-size: large;
    }
}

@media (prefers-color-scheme: dark) {
    .faq-q-and-a-breaker {
        color: var(--harvest-white-color);
        filter: drop-shadow(0 0 1rem var(--harvest-white-color) );
        box-shadow: 0 0 1rem var(--harvest-white-color);
    }

    .faq-q-and-a-breaker h1:lang(ar) {
        color: var(--harvest-white-color);
    }


    .faq-q-and-a-list-q {
        color: var(--harvest-white-color);
    }

    .faq-q-and-a-list-a {
        color: var(--harvest-white-color);
    }

    .covid-19-read-title {
        color: var(--harvest-white-color);
    }

    .covid-19-read-paragraph {
        color: var(--harvest-white-color);
    }

    .covid-19-read-link {
        color: deepskyblue;
    }

    .covid-19-read-link:hover {
        color: var(--harvest-white-color);
    }
}