.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.not-found-page h2:lang(ar) {
    font-family: var(--arabic-title-font) !important;
    direction: rtl;
}
