.parallax-section {
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--harvest-white-color);
    text-align: left;
}

.parallax-section:lang(ar) {
    text-align: right;
}

.parallax-section .content {
    z-index: 2;
    padding: 3rem;
}

.parallax-section.no-parallax {
    background-attachment: scroll;
    background-size: cover;
}

.darken {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.parallax-section-image {
    width: 15rem;
    height: 15rem;
}

@media (max-width: 1440px) {
    .parallax-section-image {
        width: 12rem;
        height: 12rem;
    }
}

@media (max-width: 1024px) {
    .parallax-section-image {
        width: 10rem;
        height: 10rem;
    }
}


@media (max-width: 768px) {
    .parallax-section {
        background-attachment: scroll;
        background-size: cover;
    }

    .parallax-section .content {
        padding: 1rem;
    }

    .darken {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .parallax-section-image {
        width: 5rem;
        height: 5rem;
    }
}
