.photos-preview {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 0.1rem;
    position: static;
    width: 100%;

}

.photo-slider {
    color: var(--primary-color);
    background-color: white;
    border-radius: 1rem;
    column-span: 3;
    row-span: 3;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
    box-shadow: 0 0 0 0.1rem var(--primary-color);

}

.video-slider-preview {
    width: 100%;
    height: 40rem;
    objectFit: 'contain';
    cursor: pointer;
}

.photo-slider-main-photo {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    object-fit: fill;
    background-color: var(--light-accent-color);
    color: white;
    border-radius: 1rem;
}

.photo-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 0.1rem;
    width: 100%;
    height: 100%;
    position: static;
}

.collage-preview-photo {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.lightbox {
    display: flex;
    position: fixed;
    z-index: 90000;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}



.lightbox-photo {
    display: flex;
    margin: auto;
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 80%;
    object-fit: fill;
    border-radius: 1rem;
    align-content: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

}

.lightbox-photo.hidden {
    opacity: 0;
}


.lightbox-photo:hover {
    /*transform: scale(1.1);*/
}




.close-lightbox {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.prev-photo {
    position: absolute;
    top: 50%;
    left: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.next-photo {
    position: absolute;
    top: 50%;
    right: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.photo-index {
    position: absolute;
    top: 15px;
    left: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


@media (prefers-color-scheme: dark) {
    .photo-slider {
        color: white;
        background-color: inherit;
        box-shadow: 0 0 0 0.1rem white;
    }


    
}

@media (max-width: 1024px) {
    .photo-slider {
        padding: 0.5rem;
    }
}
