.table-module {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;

}

.table-module-table {
    width: 100%;
}

.table-module-table-scrollable {
    width: 100%;
    table-layout: auto;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.table-module-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.table-module-header-buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    padding: 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.table-module-header-buttons-wrapper button {
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

table {
    width: 100%;
    background-color: white;
    color: var(--primary-color);
    border-collapse: collapse;
}

td {
    border: var(--primary-color) 0.1rem solid;
}

tr {
    border: var(--primary-color) 0.1rem solid;
}

th, td {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


tr:hover {
    background-color: #f1f1f1;
}

.wrap {
    white-space: normal;
    word-wrap: break-word;
}

.no-wrap {
    white-space: nowrap;
}

.table-link {
    text-decoration: underline;
    color: var(--harvest-link-color);
    font-family: var(--english-normal-font-bold);
    font-weight: bold;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.table-link:hover {
    color: var(--harvest-link-color);
    text-decoration: underline;
    cursor: pointer;
}

.compact-table-cell-text {
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.table-module-filter-popup-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.table-module-accordion {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 899;
}

.table-module-accordion-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 899;
    cursor: pointer;
}

.table-module-accordion-content {
    position: relative;
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.compact-table-header-text {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.table-module-filter-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 899;
    cursor: pointer;
}

.table-module-filter-popup-container {
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 899;
}

.table-module-filter-popup {
    position: relative;
    width: 80%;
    height: 60%;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 900;
}

.table-module-filter-popup-values-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    height: 8rem;
    max-height: 8rem;
    padding: 3rem 1rem 1rem;
}

.table-module-accordion-buttons {
    grid-column: span 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table-module-filter-search-input-field {
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--primary-color);
    font-family: var(--english-normal-font);
    font-size: 1rem;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.table-module-filter-search-input-field:focus {
    filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

.table-module-filter-search-input-field::placeholder {
    filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

.table-module-filter-search-input-field:hover {
    filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

td button {
    padding: 0.5rem 1rem;
    font-size: small;
    cursor: pointer;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
}

@media (max-width: 1600px) {
    .table-module-header-buttons-wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
    .table-module-accordion-content {
        grid-template-columns: repeat(3, 1fr);
        overflow: auto;
    }

    .table-module-accordion-buttons {
        grid-column: span 3;
    }
}

@media (max-width: 1024px) {
    th, td {
        padding: 0 0.3rem 0 0.3rem;
    }

    .table-module-header-buttons-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    td p {
        font-size: 80%;
        min-font-size: 0.1rem;
    }

    td h2 {
        font-size: 80%;
        min-font-size: 0.1rem;
    }

    .table-module-accordion-content {
        width: 90%;
        height: 70%;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        overflow: auto;
    }

    .table-module-accordion-buttons {
        grid-column: span 2;
    }

    .table-module-filter-popup {
        width: 90%;
        height: 100%;
        overflow: auto;
    }

    .table-module-accordion-content label {
        font-size: 50%;
    }

    .table-module-table {

    }

    .table-module-table-scrollable {
        margin: 0.5rem;
    }

    .table-module-header {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
}

@media (max-height: 1440px) {
}

@media (max-height: 1024px) {
}

@media (max-height: 768px) {
}

@media (max-height: 600px) {
    th, td {
        padding: 0 0.3rem 0 0.3rem;
    }
}

@media (max-height: 400px) {
    th, td {
        padding: 0 0.3rem 0 0.3rem;
    }
}

@media (prefers-color-scheme: dark) {
    table {
        background-color: inherit;
        color: white;
        border-collapse: collapse;
        border-radius: 1rem;
    }

    td {
        border: white 0.1rem solid;
    }

    tr {
        border: white 0.1rem solid;
    }

    tr:hover {
        color: var(--primary-color);
    }

    .table-module-filter-popup {
        background-color: var(--light-dark-accent-color);
    }

    .table-module-filter-popup-values-list {
        background-color: var(--dark-accent-color);
    }

    .table-module-accordion-content {
        background-color: var(--light-dark-accent-color);
    }

    .table-module-filter-search-input-field {
        border: 0.1rem solid white;
    }

    .table-module-filter-search-input-field::placeholder {
        color: white;
    }

    .table-module-filter-search-input-field:focus {
        filter: drop-shadow(0 0 0.5rem white);
    }

    .table-module-filter-search-input-field:hover {
        filter: drop-shadow(0 0 0.5rem white);
    }
}